<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>The three ladies pizza place</title>

    <link rel="stylesheet" href="vendors/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="styles/style.css" />

    <script type="text/javascript" src="vendors/angular/angular.min.js"></script>
    <script type="text/javascript" src="vendors/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="scripts/client.min.js"></script>

  </head>
  <body>
    <div class="container">
      <div class="col-md-12 fixed-top header">
        <h1>The Three Ladies Pizza Place</h1>
      </div>
      <div ng-include="'views/partials/nav.html'"></div>
      <main ng-view></main>
    </div>
  </body>
</html>
